**Assignment 1** Taniya Hussain 21BKT0083

In [ ]:
import pandas as pd
import numpy as np

*Task-1:Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)*

In [ ]:
df= pd.DataFrame([['mohan','nina',20,40000,'m'],['sneha','snigdha',25,450000,'f'],['uma','tadela',25,1000000,'f'],
 ['taniya','cupcake',20,np.NaN,'f'],['utkarsh','rai',21,2300000,'m'],['yohan','mohan',40,122000,'m'],
  ['hussain','ss',40,1203949,'m'],['loni','moni',20,1293940,'f'],
 ['khushi','mushi',23,2344556,'f'],['khush','dard',12,344555,'m']])
df

         0        1   2          3  4
0    mohan     nina  20    40000.0  m
1    sneha  snigdha  25   450000.0  f
2      uma   tadela  25  1000000.0  f
3   taniya  cupcake  20        NaN  f
4  utkarsh      rai  21  2300000.0  m
5    yohan    mohan  40   122000.0  m
6  hussain       ss  40  1203949.0  m
7     loni     moni  20  1293940.0  f
8   khushi    mushi  23  2344556.0  f
9    khush     dard  12   344555.0  m

In [ ]:
df.columns=['first_name','last_name','age','salary','sex']
df

  first_name last_name  age     salary sex
0      mohan      nina   20    40000.0   m
1      sneha   snigdha   25   450000.0   f
2        uma    tadela   25  1000000.0   f
3     taniya   cupcake   20        NaN   f
4    utkarsh       rai   21  2300000.0   m
5      yohan     mohan   40   122000.0   m
6    hussain        ss   40  1203949.0   m
7       loni      moni   20  1293940.0   f
8     khushi     mushi   23  2344556.0   f
9      khush      dard   12   344555.0   m

In [ ]:
df.shape

(10, 5)

*Task-5: check the null values in your 'df'*

In [ ]:
df.isnull().any()

first_name    False
last_name     False
age           False
salary         True
sex           False
dtype: bool

In [ ]:
df.salary=df.salary.fillna(df.salary.median())
df

  first_name last_name  age     salary sex
0      mohan      nina   20    40000.0   m
1      sneha   snigdha   25   450000.0   f
2        uma    tadela   25  1000000.0   f
3     taniya   cupcake   20  1000000.0   f
4    utkarsh       rai   21  2300000.0   m
5      yohan     mohan   40   122000.0   m
6    hussain        ss   40  1203949.0   m
7       loni      moni   20  1293940.0   f
8     khushi     mushi   23  2344556.0   f
9      khush      dard   12   344555.0   m

*Task-2: check the info of 'df'*

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  10 non-null     object
 1   last_name   10 non-null     object
 2   age         10 non-null     int64
 3   salary      10 non-null     float64
 4   sex         10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

*'Task-3: check the descriptive statistics of 'df'*

In [ ]:
df.describe()

             age        salary
count  10.000000  1.000000e+01
mean   24.600000  1.009900e+06
std     8.896941  8.198536e+05
min    12.000000  4.000000e+04
25%    20.000000  3.709162e+05
50%    22.000000  1.000000e+06
75%    25.000000  1.271442e+06
max    40.000000  2.344556e+06

*Task-4: Check the 4th index observation with 'loc' slicing operator*

In [ ]:
df.loc[3]

first_name       taniya
last_name       cupcake
age                  20
salary        1000000.0
sex                   f
Name: 3, dtype: object